<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>demo</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app"></div> 
</body>
    <script>
       const app= Vue.createApp({
           data(){
               return{
                   msg:'bibibibi',
               }
           },
           methods:{
            handleItemClick(){
                this.msg=this.msg=='jspang.com'?'技术胖':'jspang.com'
            }
           },
            // template:`
            // <h2 :class="msg=='jspang.com'?'one':'two'"
            // @click="handleItemClick"
            // >
            // {{msg}}
            // </h2>
            // `
            // template:`
            // <h2 @click="handleItemClick" v-if="msg=='jspang.com'" class="one">{{msg}}</h2>
            // <h2 @click="handleItemClick" v-if="msg=='技术胖'" class="two">{{msg}}</h2>
            // <h2 @click="handleItemClick" v-if="msg=='bibibibi'" class="three">{{msg}}</h2> 
            // `
            template:`
            <h2 @click="handleItemClick" v-if="msg=='jspang.com'" class="one">{{msg}}</h2>
            <h2 @click="handleItemClick" v-else class="two">{{msg}}</h2> 
            `
        })
        const vm=app.mount("#app")
    </script>
    <style>
        .one{color: red;}
        .two{color:green;}
        .three{color: pink;}
    </style>
                         
</html>